$iconPosition: absolute;
$cornerTopGap: 10vh;
$cornerRightGap: 10vh;
$cornerBottomGap: 10vh;
$cornerLeftGap: 10vh;
$textLocation: center;
$textHeight: 100vh;
$borderSize: 1vh;
$borderThickness: solid;

.icon-right {
  position: $iconPosition;
  bottom: $cornerBottomGap;
  right: $cornerRightGap;
}

.icon-left {
  position: $iconPosition;
  top: $cornerTopGap;
  left: $cornerLeftGap;
}

.season-display {
  display: flex;
  justify-content: $textLocation;
  align-items: $textLocation;
  height: $textHeight;
}

.summer {
  background-color: yellow;
  color: crimson;
  border: $borderSize $borderThickness red;
  i {
    color: orange;
  }
}

.winter {
  background-color: aliceblue;
  color: darkblue;
  border: $borderSize $borderThickness deepskyblue;
  i {
    color: steelblue;
  }
}
